*              text=auto

*.json         text
*.md           text diff=markdown
*.png          binary
*.ts           text
*.txt          text
*.yaml         text

.editorconfig  text
.gitattributes text export-ignore
.gitignore     text export-ignore
.node-version  text

# Overrides

.vscode/*.json linguist-language=jsonc

package.json   eol=lf
pnpm-lock.yaml eol=lf
